<a href="https://colab.research.google.com/github/kyochanpy/zemi_camp/blob/main/note_book/04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
all_df = pd.read_csv('/content/zemi_camp_only_name (2).csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
sawano

                    name     0   0.1  Unnamed: 3  Unnamed: 4  Unnamed: 5
0        オートリゾート 苫小牧アルテン  3300  6820      3300.0      6820.0         NaN
1            真狩 焚き火キャンプ場     0     0         0.0         0.0         0.0
2               ニセコボンゴ広場  4500  4500      4500.0      4500.0         NaN
3           さらべつカントリーパーク  2000  3000      2000.0      3000.0         NaN
4         焚き火キャンプ場　士別ペコラ  3000  4500      3000.0      4500.0         NaN
...                  ...   ...   ...         ...         ...         ...
1048570              NaN     0     0         NaN         NaN         NaN
1048571              NaN     0     0         NaN         NaN         NaN
1048572              NaN     0     0         NaN         NaN         NaN
1048573              NaN     0     0         NaN         NaN         NaN
1048574              NaN     0     0         NaN         NaN         NaN

[1048575 rows x 6 columns]

In [31]:
all_df = pd.read_csv('/content/drive/MyDrive/nap_df.csv')

In [34]:
only_columns_df = all_df.iloc[:, 5:-3]

In [36]:
df_one_hot_encoded = pd.get_dummies(only_columns_df)

In [37]:
no_list = []
for i in df_one_hot_encoded.columns:
    if i[-1] == "無":
        no_list.append(i)

In [38]:
df_one_hot_encoded = df_one_hot_encoded.drop(no_list, axis=1)

In [40]:
column_list = []
for i in df_one_hot_encoded.columns:
    column_list.append(i[:-2])

In [46]:
column_list

['病院',
 'コンビニ',
 'ホームセンター',
 '立ち寄り温泉',
 'お風呂',
 'シャワー',
 'ゴミ捨て場',
 'ランドリー',
 'ウォッシュレット式トイレ',
 'レストラン・食堂',
 '売店・自動販売機',
 '炊事棟',
 '給湯',
 'AC電源',
 'バリアフリー',
 '手ぶらキャンプ・レンタル',
 '花火OK',
 '直火OK',
 'ペットOK',
 '団体・貸切OK',
 '無料',
 'バーベキュー （BBQ）',
 '釣り',
 'プール',
 '自転車',
 '天体観測・星空',
 '牧場',
 'ホタル',
 'アスレチック',
 '遊具',
 'カヌーボート',
 '川遊び',
 'ハイキング',
 'ドッグラン',
 'クラフト体験',
 '味覚狩り',
 '虫捕り',
 '季節の花',
 'ツリーハウス',
 '年越しキャンプ']

In [47]:
for n in range(0, len(column_list)):
        df_one_hot_encoded.rename(columns={df_one_hot_encoded.columns[n]:column_list[n]}, inplace=True)

In [48]:
df_one_hot_encoded

     病院  コンビニ  ホームセンター  立ち寄り温泉  お風呂  ...  味覚狩り  虫捕り  季節の花  ツリーハウス  年越しキャンプ
0     0     1        0       1    1  ...     0    1     1       0        1
1     0     1        0       1    0  ...     0    1     1       0        1
2     1     1        1       1    0  ...     0    1     1       0        0
3     0     1        0       1    0  ...     1    1     1       1        0
4     0     1        1       1    1  ...     0    0     0       0        0
..   ..   ...      ...     ...  ...  ...   ...  ...   ...     ...      ...
185   0     1        1       1    1  ...     1    1     1       0        1
186   1     1        1       1    1  ...     1    1     1       0        0
187   0     1        0       0    0  ...     1    1     1       0        0
188   1     1        1       1    0  ...     0    0     0       0        0
189   1     1        1       1    0  ...     0    0     0       0        0

[190 rows x 40 columns]

In [50]:
all_df.iloc[:, :4]

        id                   name             area  star
0    13288        オートリゾート 苫小牧アルテン        洞爺・登別・苫小牧  4.19
1    14040               ニセコボンゴ広場          ニセコ・ルスツ  4.47
2    13097           さらべつカントリーパーク            帯広・十勝  4.29
3    13202            層雲峡オートキャンプ場           旭川・層雲峡  4.50
4    14581         ファミリーキャンプ 花ふらり  釧路・阿寒・根室・川湯・屈斜路  4.58
..     ...                    ...              ...   ...
185  13995    十勝中札内農村休暇村フェーリエンドルフ            帯広・十勝  2.67
186  13101              士幌高原ヌプカの里            帯広・十勝  2.67
187  13232              厚田公園キャンプ場         石狩・空知・千歳  2.25
188  14250          かなやま湖オートキャンプ場              NaN  4.33
189  13963  洞爺湖町曙公園・中央公園・小公園キャンプ場        洞爺・登別・苫小牧  3.58

[190 rows x 4 columns]

In [52]:
all_df.iloc[:, -3:]

     num_reviews  min_fee  max_fee
0             73   3300.0   6820.0
1             30   4500.0   4500.0
2             40   2000.0   3000.0
3             10   1500.0   1500.0
4              2   5000.0   5000.0
..           ...      ...      ...
185            2      0.0      0.0
186            2      0.0      0.0
187            2   1600.0   1600.0
188            2   5620.0   5620.0
189            2      0.0      0.0

[190 rows x 3 columns]

In [55]:
nap_df_one_hot_encoded = pd.concat([all_df.iloc[:, :4], df_one_hot_encoded, all_df.iloc[:, -3:]], axis=1)

In [57]:
nap_df_one_hot_encoded.to_csv("nap_df_one_hot_encoded.csv", index=False)

In [58]:
nap_df_one_hot_encoded

        id                   name  ... min_fee  max_fee
0    13288        オートリゾート 苫小牧アルテン  ...  3300.0   6820.0
1    14040               ニセコボンゴ広場  ...  4500.0   4500.0
2    13097           さらべつカントリーパーク  ...  2000.0   3000.0
3    13202            層雲峡オートキャンプ場  ...  1500.0   1500.0
4    14581         ファミリーキャンプ 花ふらり  ...  5000.0   5000.0
..     ...                    ...  ...     ...      ...
185  13995    十勝中札内農村休暇村フェーリエンドルフ  ...     0.0      0.0
186  13101              士幌高原ヌプカの里  ...     0.0      0.0
187  13232              厚田公園キャンプ場  ...  1600.0   1600.0
188  14250          かなやま湖オートキャンプ場  ...  5620.0   5620.0
189  13963  洞爺湖町曙公園・中央公園・小公園キャンプ場  ...     0.0      0.0

[190 rows x 47 columns]